@import url("@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');");
* {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
}
.logo_name {
    display: inline;
    font-size: larger;
    color: rgb(235, 210, 64);
    font-family: New York;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --poppins: "Poppins", sans-serif;
    --light: #f9f9f9;
    --blue: #3c91e6;
    --light-blue: #cfe8ff;
    --grey: #eee;
    --dark-grey: #aaaaaa;
    --dark: #342e37;
    --red: #db504a;
    --yellow: #ffce26;
    --light-yellow: #fff2c6;
    --orange: #fd7238;
    --light-orange: #ffe0d3;
}

html {
    overflow-x: hidden;
}

body.dark {
    --light: #0c0c1e;
    --grey: #060714;
    --dark: #fbfbfb;
}

body {
    background: var(--grey);
    overflow-x: hidden;
}

/* SIDEBAR */
#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background-color: #a72b2b;
    z-index: 2000;
    font-family: var(--poppins);
    transition: 0.3s ease;
    overflow-x: hidden;
    scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
    display: none;
}
#sidebar.hide {
    width: 60px;
}
#sidebar .brand {
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    position: sticky;
    top: 0;
    left: 0;
    background-color: #19376d;
    z-index: 500;
    padding-bottom: 10px;
    padding-top: 60px;
    box-sizing: content-box;
    flex-direction: column;
}
#sidebar .brand .fa {
    min-width: 60px;
    display: flex;
    justify-content: center;
}
#sidebar .side-menu {
    width: 100%;
    margin-top: 20px;
}
#sidebar .side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}
#sidebar .side-menu li.active {
    background-color: #f6f6f6;
    position: relative;
}
#sidebar .side-menu li.active::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 #f6f6f6;
    z-index: -1;
}
#sidebar .side-menu li.active::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 #f6f6f6;
    z-index: -1;
}
#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
    color: #a72b2b;
}
#sidebar.hide .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: width 0.3s ease;
}
#sidebar .side-menu li a.logout {
    color: var(--red);
}
#sidebar .side-menu.top li a:hover {
    color: #bc3d3d;
}
#sidebar .side-menu li a .fa {
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    justify-content: center;
}
#sidebar.hide ~ #content {
    width: calc(100% - 60px);
    left: 60px;
}
@media (min-width: 576px) {
    .dropdown:hover > .dropdown-menu {
        display: flex;
        margin-top: 0;
        margin-top: 0;
        right: 0;
        left: auto;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }
}

.content {
    position: relative;
    width: calc(100% - 280px);
    left: 280px;
    transition: 0.3s ease;
}
#account_name {
    color: #342e37;
}
/* NAVBAR */
#content nav {
    height: 56px;
    background-color: #f6f6f6;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-gap: 10px;
    font-family: var(--poppins);
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1000;
}

#content nav::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    /* box-shadow: -20px -20px 0 var(--light); */
}

#content nav .profile img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

/* MAIN */
#content main {
    height: 100vh;
    width: 100%;
    padding: 36px 24px;
    font-family: var(--poppins);
    max-height: calc(100vh - 56px);
    overflow-y: scroll;
    position: relative;

    background-color: #f6f6f6;
}
/* MAIN */
/* CONTENT */

@media screen and (max-width: 768px) {
    #sidebar {
        width: 200px;
    }

    #content {
        width: calc(100% - 60px);
        left: 200px;
    }

    #content nav .nav-link {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    #content nav form .form-input input {
        display: none;
    }

    #content nav form .form-input button {
        width: auto;
        height: auto;
        background: transparent;
        border-radius: none;
        color: var(--dark);
    }

    #content nav form.show .form-input input {
        width: 100%;
    }
    #content nav form.show .form-input button {
        width: 36px;
        height: 100%;
        border-radius: 0 36px 36px 0;
        color: var(--light);
        background: var(--red);
    }

    #content nav form.show ~ .notification,
    #content nav form.show ~ .profile {
        display: none;
    }

    #content main .box-info {
        grid-template-columns: 1fr;
    }

    #content main .table-data .head {
        min-width: 420px;
    }
    #content main .table-data .order table {
        min-width: 420px;
    }
    #content main .table-data .todo .todo-list {
        min-width: 420px;
    }
}

.sidebar-links ul {
    position: relative;
}
.sidebar-links li {
    position: relative;
    padding: 2.5px 0;
}

.sidebar-links a {
    color: var(--text-color);
    font-weight: 400;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    height: 53px;
}
.sidebar-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-links a.active,
.sidebar-links a:hover {
    color: #fff;
}

.sidebar-links a .link {
    transition: opacity 0.3s 0.2s, color 0.3s;
}

.sidebar-links a.active i:first-child {
    opacity: 1;
}

.sidebar-links a.active i:last-child {
    opacity: 1;
}
.sidebar-links h4 {
    position: relative;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 0.8rem;
    color: var(--text-color);
    letter-spacing: 0.5px;
    height: 45px;
    line-height: 45px;
    transition: opacity 0.3s 0.2s, height 0.5s 0s;
}
body.shrink .sidebar-links h4 {
    height: 10px;
}
.container2 {
    padding-left: 60px;
    padding-right: 60px;
}
label {
    font-weight: 600;
    color: #666;
}

.mx-t3 {
    margin-top: -3rem;
}
.chk {
    display: flex;
}
.upload {
    width: 100px;
    position: relative;
    margin: auto;
    justify-content: center;
    display: flex;
    padding-bottom: 20px;
}

.upload img {
    border-radius: 50%;
    border: 6px solid #eaeaea;
}

.upload .round {
    position: absolute;
    left: 84px;
    top: 162px;
    bottom: 0;
    right: 0;
    background: #00b4ff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
}

.upload .round input[type="file"] {
    position: absolute;
    transform: scale(2);
    opacity: 0;
}
.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile p {
    margin-top: 0;
    margin-bottom: 0rem;
    margin-left: 1rem;
    color: #212529;
}
.log-out-btn {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 48px;
    font-size: 16px;
    color: #ffffff;
    white-space: nowrap;
    overflow-x: hidden;
    flex-direction: row;
    column-gap: 12px;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.properties {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.hl_details {
    align-items: center;
}
.c_details {
    align-items: flex-end;
}
.lot_details {
    align-items: flex-end;
}
form {
    width: 100%;
}
